---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import type { Card as TypeCard } from '../types/card'
import SectionTitle from '../components/SectionTitle.astro'
import StartBtn from '../components/StartBtn.astro'
import GitHubRibbon from '../components/GitHubRibbon.astro'
import Logo from '../assets/logo.svg'
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import dayjs from 'dayjs'

const cards: TypeCard[] = [
  {
    title: '端末がカード代わりになる',
    imageUrl: '/src/assets/gcch_screenshot_4.png',
    body: '発行したカードのQRコードをアプリ内で読み取ることで、同じQRコードを画面上に表示できるようになります。'
  },
  {
    title: 'カードの有効期限を管理できる',
    imageUrl: '/src/assets/gcch_screenshot_2.png',
    body: 'カードの登録時や再チャージ時に発行日を入力することで、有効期限まであと何日かを簡単に確認できるようになり、Googleカレンダーなどにリマインドを作成することもできます。'
  },
  {
    title: 'インストールでき、オフラインでも使える',
    imageUrl: '/src/assets/gcch_screenshot_1.png',
    body: '本アプリはPWAとして動作するため、ご利用の端末にインストールして使うことができます。また、カードに関するデータはすべて端末内に保存され、一度インストールが完了すればオフラインで利用することもできます。'
  }
]

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.png')
---

<Layout title="r1-gcc-holder">
  <main class="">
    <div class="max-w-[960px] mx-auto px-4 font-sans">
      <GitHubRibbon />
      <div class="mt-6 md:h-[480px] md:flex items-center justify-center md:gap-x-12">
        <div class="flex justify-center">
          <div class="w-24 h-24 md:w-48 md:h-48 p-4 md:p-6 shadow-xl rounded-3xl flex items-center justify-center">
            <img src={Logo.src} alt="サービスのロゴ" class="h-full" />
          </div>
        </div>
        <div class="text-center mt-4 md:m-0 md:text-left">
          <h1
            class="text-3xl md:text-6xl md:h-16 font-semibold bg-clip-text text-transparent bg-gradient-to-tr from-red-400 to-primary"
          >
            r1-gcc-holder
          </h1>
          <p class="mt-2 md:mt-4 md:text-xl">かしこく管理で、ゲームをもっと楽しく。</p>
          <div class="mt-4 md:mt-6">
            <StartBtn />
          </div>
        </div>
      </div>
      <div class="space-y-8">
        <section>
          <SectionTitle title="概要" />
          <div class="mt-4 flex md:justify-center gap-x-4 overflow-scroll">
            <Image
              src={images['/src/assets/gcch_screenshot_2.png']()}
              alt="複数の店舗で発行したカードを一覧できる"
              loading="eager"
              class="w-48"
            />
            <Image
              src={images['/src/assets/gcch_screenshot_4.png']()}
              alt="カードと同じQRコードを表示でき、有効期限などもまとめて確認できる"
              loading="eager"
              class="w-48"
            />
            <Image
              src={images['/src/assets/gcch_screenshot_1.png']()}
              alt="Googleカレンダーなどにリマインドを登録できる"
              loading="eager"
              class="w-48"
            />
          </div>
          <p class="mt-4 text-sm md:text-base">
            某アミューズメント施設にて順次導入されている、プリペイド式のカードをより使いやすく、かさばることなく使えることを目指したWebアプリケーションです。
          </p>
        </section>
        <section>
          <SectionTitle title="特徴" />
          <div class="mt-4 grid md:grid-cols-2 gap-2 md:gap-4">
            {cards.map((item) => <Card title={item.title} imageUrl={item.imageUrl} body={item.body} />)}
            <div class="bg-neutral-100 rounded-md p-6 flex items-center justify-center text-neutral-500">
              comming soon...
            </div>
          </div>
          <p class="mt-4 text-neutral-400">
            PWAとしてインストールする方法については
            <a
              href="https://web.dev/learn/pwa/progressive-web-apps?hl=ja#mobile_devices"
              target="_blank"
              class="font-semibold border-b-2 hover:text-primary hover:border-primary"
            >
              こちら
            </a>
            を参考にしてください。
          </p>
        </section>
        <section>
          <SectionTitle title="注意事項" />
          <ul
            class="px-8 py-6 mt-4 text-sm md:text-base max-w-[720px] list-disc mx-auto space-y-2 border border-primary rounded-md"
          >
            <li>
              本アプリは元サービスの運営会社側の許諾を得て開発したものではありません。カードに関するシステムの権利等は運営会社に帰属します。
            </li>
            <li>本アプリに関する内容に関して、元サービスの運営会社へのお問い合わせはご遠慮ください。</li>
            <li>
              完全な動作の保証はできかねます。本アプリ利用時も発行したカードは必ず保管、携帯し自己責任で利用してください。
            </li>
            <li class="text-primary font-semibold">
              システムの仕様がまだ十分に調査できていないため、有効期限の設定などが1日程度異なる可能性があります。また、特殊な仕様が存在する可能性があるため、本アプリを試す場合は残高が0円、もしくは少額の状態で一度試していただくことをお勧めします。
            </li>
          </ul>
        </section>
        <section>
          <div class="text-center">
            <StartBtn />
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="py-6 mt-8 text-center bg-neutral-200 text-neutral-500">
    <div>
      ©{dayjs().format('YYYY')}
      <a href="https://portal.snowsphere.net/" target="_blank">snowsphere</a>
    </div>
    <div>
      #gcch_app
    </div>
  </footer>
</Layout>
