---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="r1-gcc-holder">
  <main class="">
    <div class="max-w-[960px] mx-auto px-2 font-sans">
      <div class="h-[480px] flex items-center">
        <div class="">
          <h1 class="text-6xl font-bold">r1-gcc-holder</h1>
          <p class="mt-3 text-xl">かしこく管理で、ゲームをもっと楽しく。</p>
          <button class="p-4 bg-primary mt-2">使ってみる</button>
        </div>
      </div>
      <div>
        <h2>本アプリの特徴</h2>
        <div>
          <h3>端末がカード代わりになる</h3>
          <p>発行したカードのQRコードをアプリ内で読み取ることで、同じQRコードを画面上に表示できるようになります。</p>
        </div>
        <div>
          <h3>カードの有効期限を管理できる</h3>
          <p>
            カードの登録時や再チャージ時に発行日を入力することで、有効期限まであと何日かを簡単に確認できるようになり、Googleカレンダーなどにリマインドを作成することもできます。
          </p>
        </div>
        <div>
          <h3>インストールができ、オフラインでも使える</h3>
          <p>
            本アプリはPWAとして動作するため、ご利用の端末にインストールして使うことができます。また、カードに関するデータはすべて端末内に保存され、一度インストールが完了すればオフラインで利用することもできます。
          </p>
        </div>
        <div>comming soon...</div>
      </div>
      <div>
        <h2>注意事項</h2>
        <ul>
          <li>
            本アプリは元サービスの運営会社側の許諾を得て開発したものではありません。カードに関するシステムの権利等は運営会社に帰属します。
          </li>
          <li>本アプリに関する内容に関して、元サービスの運営会社へのお問い合わせはご遠慮ください。</li>
          <li>
            完全な動作の保証はできかねます。本アプリ利用時も発行したカードは必ず保管、携帯し自己責任で利用してください。
          </li>
          <li class="text-primary font-semibold">
            システムの仕様がまだ十分に調査できていないため、有効期限の設定などが1日程度異なる可能性があります。また、特殊な仕様が存在する可能性があるため、本アプリを試す場合は残高が0円、もしくは少額の状態で一度試していただくことをお勧めします。
          </li>
        </ul>
      </div>
      <div>
        <h2>Credit</h2>
        <div>
          <span>snowsphere</span>
        </div>
      </div>
    </div>
  </main>
  <footer>©2024 snowsphere</footer>
</Layout>
