<a
  href="https://gcch.asayake.dev/"
  target="_blank"
  class="inline-block text-center p-4 bg-primary shadow-lg text-white font-semibold min-w-48 md:w-64 rounded-full hover:opacity-60 transition duration-300 plausible-event-name=Redirect+to+App"
>
  使ってみる
</a>
