<a
  href="https://gcch.asayake.dev/"
  target="_blank"
  class="inline-block text-center p-4 bg-primary shadow-lg text-white font-semibold w-64 rounded-full hover:opacity-60 transition duration-300"
>
  使ってみる
</a>
