---
import '@fontsource-variable/rubik'
import '@fontsource-variable/m-plus-2'
import { SEO } from 'astro-seo'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO
      title="r1-gcc-holder"
      description="かしこく管理で、ゲームをもっと楽しく。"
      openGraph={{
        basic: {
          title: 'r1-gcc-holder',
          type: 'website',
          image: 'https://gcch.asayake.dev/pwa-512x512.png'
        }
      }}
      ,
      twitter={{
        creator: '@prismist_m'
      }}
      extend={{
        link: [{ rel: 'icon', href: 'https://gcch.asayake.dev/favicon.ico' }],
        meta: [
          {
            name: 'twitter:image',
            content: 'https://gcch.asayake.dev/pwa-192x192.png'
          },
          {
            name: 'twitter:title',
            content: 'r1-gcc-holder'
          },
          { name: 'twitter:description', content: 'かしこく管理で、ゲームをもっと楽しく。' }
        ]
      }}
    />
    <script defer data-domain="intro-gcch.asayake.dev" src="https://tracker.snowsphere.net/js/plausible.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
